/* Base styles for the navigation container */
body{
	padding: 0;
	margin: 0;
	font-family: 'Lora', serif;
    position: relative; /* Allows for absolute positioning of footer */
    padding-bottom: 60px; 
/*	background: floralwhite;*/
}

header {
    position: relative; /* or fixed */
    z-index: 1000; /* this value shoud be higher than the cards' z-index */
}

main {
    min-height: calc(100vh - 60px); /* Adjust min-height to keep footer at bottom */
    margin-bottom: 30px;
}

.nav-bar {
    text-align: center;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 18px;
    box-sizing: border-box;
/*    border-bottom: 1px solid lightgrey;*/
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}

.nav-bar.shadow {
    box-shadow: 0 4px 2px -2px gray; /* Shadow to be added on scroll */
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Removes bullets from list items */
  
}
  
  /* Styles for <li> elements within the navigation */
  
.nav-bar li {
    display: inline-block; /* Aligns list items horizontally */
    padding: 24px 24px;
}
  
 .nav-bar a {
    color: rgba(33.3, 16.5, 0);
    text-decoration: none; /* Removes underline from links */
    text-align: center;
    text-transform: capitalize;
    /* font-weight: bold; */
    padding: 12px 12px;
    
}
  
.nav-bar a:hover{
    /* background: rgba(228, 224, 216, .09);
    border-radius: 6px;
	border: 1px solid rgba(228,224, 216, 1.0);
    box-shadow: 8px 8px 8px rgba(228, 224, 216, 1) */
    color: #f60; /* Change color on hover */
    transition: color 1s; /* Transition effect */
  
}
  
.nav-bar a.active {
    color: #f60;
    /* border: 1px solid rgba(228,224, 216, 1.0);
    border-radius: 6px;
    box-shadow: 8px 8px 8px rgba(228, 224, 216, 1);
    transition: 2s; */
}

.intro{
    margin-top: 100px;
    margin-left: 24px;
}

.intro h4{
    font-size: 16px;
    font-weight: normal;
}

.intro .special-link{
    color: black;
    font-weight: bold;
}

.intro img{
	float: left;
	width: 30%;
	margin-right: 24px;
	border-radius: 32px;
/*	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.1);*/
}

.intro img.left {
    float: left;
}

.intro img.right {
    float: right;
}

.section {
    margin-bottom: 40px; /* Add spacing between sections */
    overflow: hidden; /* Ensure floated elements are contained */
}

.section p {
    margin: 0; /* Remove default margin */
}

.intro img:hover{
	transition: scale(1.05);
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 300px;
    height: 250px;
	margin-left: 24px;
	border-radius: 32px;
	text-transform: capitalize;

}

.card-container .card-link{
	text-decoration: none;
	color: inherit;
}

.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transform: scale(1.1);
}

.title-container {
  padding: 2px 16px;
}

.card img {
  width: 100%; /* Ensure the image takes up the full width of the card */
  height: 11vw; /* Maintain aspect ratio */
  display: block; /* Prevent inline spacing issues */
  border-radius: 32px 32px 0px 0px;
  object-fit: cover;
}

.card-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 16px;
	padding: 24px;
}

.header-text{
	color: black;
	margin-top: 100px;
	margin-left: 24px;
	/* text-transform: capitalize */
}
.header{
	color: black;
	/* margin-top: 100px; */
	margin-left: 24px;
	text-transform: capitalize
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 100px; /* Adjust based on your header height */
    left: 0;
    width: 200px; /* Adjust based on your design */
    padding: 10px;
    background-color: transparent;
    border-right: none;
    text-transform: capitalize;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none; /* Remove underline */
    color: #333; /* Adjust color based on your design */
    display: block;
    padding: 5px;
}

.sidebar ul li a:hover {
    background-color: #f0f0f0; /* Add a subtle background on hover */
}

.project-container {
    /* margin-left: 24px; */
    padding: 16px; /* Add padding if needed */
    text-align: left; /* Center text and inline elements */
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.project-container img {
  width: 100%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent inline spacing issues */
  margin: 0 auto; /* Center the image horizontally */
}

.project-container h2, .project-container h3{
	text-transform: capitalize;
    background: floralwhite;
    
}

.project-container h3 {
    position: sticky;
	top: 70px;
}

p { 
    text-indent: 30px;
 }

.image-grid {
    display: grid;                 /* Use CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Create two equal columns */
    gap: 16px;                     /* Space between images */
}

/* .image-grid.single-item {
    grid-template-columns: 1fr;
} */

.image-grid img {
    width: 100%;                  /* Make images take full width of their container */
    height: auto;                 /* Maintain aspect ratio */
    display: block;               /* Prevent inline spacing issues */
}

.openseadragon-viewer {
    width: 100%;
    height: 500px; /* or whatever height is appropriate */
    display: block;
}

/* Sleek and small toaster */
.toaster {
    position: fixed;
    top: 20px;
    right: -300px;  /* Start off-screen to the right */
    background-color: #333;
    color: #fff;
    padding: 8px 16px;  /* Reduced padding for a sleeker look */
    border-radius: 25px;  /* Rounded corners */
    opacity: 0;  /* Start fully transparent */
    font-size: 14px;  /* Smaller font size for a sleeker appearance */
    transition: right 0.5s ease-out, opacity 0.5s ease-out;  /* Slide-in and fade-in effect */
    z-index: 1000;
}

/* Toaster slide-in effect */
.toaster.show {
    right: 20px;  /* Slide into view */
    opacity: 0.7;  /* Fade into view */
}

.project-container iframe{
	width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-button {
    position: fixed;
    bottom: 20px; /* Ensure the buttons are fixed at the bottom */
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
    z-index: 1000;
}

#previous-button {
    left: 20px; /* Distance from the left edge of the viewport */
}

#next-button {
    right: 20px; /* Distance from the right edge of the viewport */
}

.nav-button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    color: #f60

}

.nav-button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.nav-button:disabled {
    background-color: #ccc; /* Grey out the button */
    cursor: not-allowed;
}

/* Base styles for the footer */
footer {
    background-color: #f8f8f8; /* Light background color */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Vertical padding */
    width: 100%; /* Full width */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    position: absolute; /* Position absolute to stick to the bottom */
    bottom: 0; /* Sticks to the bottom */
}

footer .footer-content{
    display: inline-block;
}

footer p {
    padding: 0 30px 0 0;
    margin: 0; /* Remove default margin */
    color: #333; /* Darker text color for contrast */
    font-size: 14px; /* Font size */
}

/* Add styles for social media links */
footer .socials {
    margin-top: 10px; /* Space above social links */
}

footer .socials a {
    text-decoration: none; /* Remove underline */
    color: #333; /* Match text color */
    margin: 0 10px; /* Space between icons */
    font-size: 18px; /* Size for icons */
    transition: color 0.3s; /* Transition effect */
}

footer .socials a:hover {
    color: #f60; /* Change color on hover */
}

.contact-container {
    text-align: center; /* Center the content */
}

.contact-container p {
    text-align: center; /* Center the paragraph */
}

.contact-list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    display: inline-block;
}

.contact-list li {
    display: inline-block;
    margin: 30px; /* Space between items */
    text-align: center; /* Center align items */
}

.contact-list a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Text color */
    transition: color 0.3s; /* Smooth transition for color change */
}

.contact-list a:hover {
    color: #f60; /* Change color on hover */
}

.social-logo {
    display: block; /* Make the image a block element */
    margin: 0 auto 10px auto; /* Center image and add space below */
    width: 128px; /* Set width */
    height: 128px; /* Set height */
}