{% extends "layout.html" %}
{% block content %}
<div class="intro"> 
    <h3>Designer, Business Analyst</h3>
    {% for section in about_data %}
        <div class="section">
            <h4>{{ section['title'] }}</h4>
            {% if section['image_path'] %}
                <img src="{{ url_for('static', filename=section['image_path']) }}" alt="About Image" class="{{ 'left' if loop.index is odd else 'right' }}">
            {% endif %}
            <p>{{ section['description']|safe }}</p>
        </div>
    {% endfor %}
</div>

<!-- Skills Carousel Section -->
<div class="skills-section">
    <!-- <h2>Skills</h2> -->
    <div class="skills-container carousel">
        {% for skill in skills_data %}
            <div class="skill">
                <img src="{{ url_for('static', filename=skill.icon) }}" alt="{{ skill.skills }} Icon">
                <!-- <p>{{ skill.skills }}</p> -->
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
