{% extends "layout.html" %}
{% block content %}
<div class="intro"> 
    <h1>About Me</h1>
    <img src="{{ url_for('static', filename='imgs/selfie.jpg') }}" alt="My Image">
    <p>I'm Sanchay, an HCI generalist. I design products and I find myself at the intersection of technology, user, and user experience. My expertise lies in product management, design and development. After having designed super-structures and substructures in the construction field, I found my passion for visual and product design as a Business Analyst. I'm currently pursuing my masters degree in HCI at Iowa State University.</p>
</div>
{% endblock %}
