{# This template extends the base layout.html #}
{% extends "layout.html" %}

{# Block to replace content in the layout.html #}
{% block content %}
<div class="contact-container">
    <h1>Contact</h1>

    {# List of contact links including social media and resume links #}
    <!-- <p>Links to my social media and resume.</p> -->
    <ul class="contact-list">
        <li>
            <a href="https://github.com/sanchay071" target="_blank" >
                <img src="{{ url_for('static', filename='imgs/github-mark.svg') }}" alt="Git Logo" class="social-logo">
                GitHub
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sanchay07/" target="_blank">
                <img src="{{ url_for('static', filename='imgs/linkedin.svg') }}" alt="LinkedIn Logo" class="social-logo">
                LinkedIn
            </a>
        </li>
    </ul>
</div>
{% endblock %}
