<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/3.0.0/openseadragon.min.js"></script>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <!-- <li><a href="/">Home</a></li> -->
                <li><a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">About</a></li>
                <li><a href="{{ url_for('my_works') }}" class="{% if request.endpoint   in ['my_works', 'project_detail'] %}active{% endif %}">My Works</a></li>
                <li><a href="{{ url_for('contact') }}" class="{% if request.endpoint == 'contact' %}active{% endif %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 My Portfolio</p>
            <div class="socials">
                <a href="https://linkedin.com/in/sanchay07" target="_blank">LinkedIn</a>
                <a href="https://github.com/sanchay071" target="_blank">GitHub</a>
            </div>
        </div>
    </footer>
    <script>
        window.addEventListener('scroll', function() {
            var navBar = document.querySelector('.nav-bar');
            if (window.scrollY > 0) {
                navBar.classList.add('shadow');
            } else {
                navBar.classList.remove('shadow');
            }
        });

        // OpenSeadragon initialization script
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('.openseadragon-viewer').forEach(function(viewerElement) {
                OpenSeadragon({
                    element: viewerElement,
                    prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/3.0.0/images/",
                    tileSources: {
                        type: 'image',
                        url: viewerElement.getAttribute('data-image')
                    }
                });
            });
        });
    </script>
</body>
</html>
